@mixin place($size: 0, $sizec: 100%, $c: #000, $bg: #fff, $offset: 0) {
  color: $c;
  padding: $size;
  position: absolute;
  z-index: 1000;
  white-space: nowrap;
  border-radius: $size;
  background-color: $bg;

  &.top,
  &.bottom {
    left: $offset;
    transform: translateX(-$offset);

    .arrow {
      left: 50%;
    }
  }

  &.top {
    bottom: $sizec;

    .arrow {
      bottom: 0;
      transform: translate(-50%, 100%);
    }
  }

  &.bottom {
    top: $sizec;

    .arrow {
      top: 0;
      transform: translate(-50%, -100%);
    }
  }

  &.left,
  &.right {
    top: $offset;
    transform: translateY(-$offset);

    .arrow {
      top: 50%;
    }
  }

  &.left {
    right: $sizec;

    .arrow {
      right: 0;
      transform: translate(100%, -50%);
    }
  }

  &.right {
    left: $sizec;

    .arrow {
      left: 0;
      transform: translate(-100%, -50%);
    }
  }
}