:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  // text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 10%;
}

button {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }

  &:active {
    background-color: #004085;
    transform: translateY(1px);
  }

  &:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
}