.tiptap {
  img {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;

    &.ProseMirror-selectednode {
      outline: 3px solid #68CEF8;
    }
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    width: fit-content;
    max-width: 50%;

    figcaption {
      width: fit-content;
      min-width: 4em;
      padding: 4px 8px;
      border-bottom: #bfbfbf solid 1px;
    }
  }
}